* {
  box-sizing: border-box;
}
.body {
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
}

header {
  border: 1px solid #f1f1f1;
  background-color: #fff;
}
h1 {
  margin-left: 100px;
}

.fixed-column:hover {
  box-shadow: 1px 1px 5px #867676;
}
.add-new {
  margin-left: 65%;
  margin-top: 25px;
  font-size: 22px;
}
h2 {
  color: #0890ec;
  margin-left: 5px;
}

.add-new a {
  color: rgb(72, 103, 104);
  text-decoration: none;
}
.bi-plus-circle {
  margin-top: 5px;
  background-color: #00a5ec;
  border-radius: 50%;
  color: #fff;
}
spen {
  text-decoration: line-through;
  color: #c2c2c2;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.fixed-column {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #67676729;
  border: 1px solid #ededed;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 30px;
  height: 260px;
  opacity: 1;
  width: 350px;
}
.checked {
  color: #867676;
}

.contain {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contain input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ededed;
}

.container input:checked ~ .checkmark {
  background-color: #c2c2c2;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
hr {
  color: #ededed;
}
@media screen and (max-width: 480px) {
  .add-new {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    text-align: center;
    font-size: 22px;
  }
}
